{% extends 'BaseR.html' %}
{% block html %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'csss/Register.css' %}">
{% endblock %}
{% block head %}
<title>Registro</title>
{% endblock %}
{% block body %}
<div class="Formulario">
  {% load static %}
  <img src="{% static 'images/DouveLogo.png' %}" class="Images"><br>
  <div class="Fform" id="FormLogin">
  <form method="post">
    {% csrf_token %}
    <nps><input type="text" name="user" class="InputUs" value="" placeholder="Usuario"><br></nps>
    <input type="email" name="email" class="Inputs" value="" placeholder="Correo Electrónico"><br>
    <input type="password" name="password" class="Inputs" value="" placeholder="Contraseña"><br><br>
    <input type="submit" class="Buttons" name="Create" value="Crear"></input>
  </form>
  <a href="/login"><input type="button" class="Buttons" name="Login" value="Iniciar Sesión"></input></a><br>
  </div>
    </div>
    <div class="msg1">{{ Msg1 }}</div>
    <div class="msg2">{{ Msg2 }}</div>
    <div class="msg3">{{ Msg3 }}</div>
{% endblock %}
