body {
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.Lineas {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #898989;
}

.Lineas1 {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 10px;
  background-color: #898989;
}

.Lineas2 {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 20px;
  background-color: #898989;
}

.ls {
  position:relative;
  width:100%;
  margin-top: 100px;
  font-family: "American typewriter";
  font-size: 13px;
  color: black;
}

.Cuenta1 {
  position: absolute;
  top:10px;
  height: 50px;
  margin-left: 10%;
  width: 120px;
  border: 2px solid #898989;
}

.Cuenta2 {
  position: absolute;
  top:10px;
  height: 50px;
  margin-left: 32.5%;
  width: 120px;
  border: 2px solid #898989;
}

.Cuenta3 {
  position: absolute;
  top:10px;
  height: 50px;
  margin-left: 52.5%;
  width: 120px;
  border: 2px solid #898989;
}

.Cuenta4 {
  position: absolute;
  top:10px;
  height: 50px;
  margin-left: 75%;
  width: 120px;
  border: 2px solid #898989;
}

txtc {
  position: relative;
  top: 33%;
}

txtc2 {
  position: relative;
  top: 20%;
}

a {
  text-decoration: none;
  color: black;
}

.Cerrar_Sesion {
 position:absolute;
 width: 80px;
 height: 80px;
 background-color: #e5e5e5;
 color: #595959;
 font-family: sans-serif;
 font-size: 14px;
 top: 80%;
 left: 90%;
 border-radius:100%;
}

fcsesion {
  position: absolute;
  top:30%;
  left: 0%;

}

.Cerrar_Sesion:active{
  background-color: #9d9d9d;
}

.ImagenLogo {
  position: absolute;
  top: 13px;
  height: auto;
  max-width: 200px;
  left: 50%;
  margin-left: -100px;
}

.ProfilePicture {
  position: relative;
  width: 350px;
  height: 350px;
  margin-top: -1%;
  margin-left: 8%;
  border-radius: 100%;
  border: 2px solid #adadad;
}

.APicture {
  position: absolute;
  left: 0%;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  border-radius: 100%;
}

.APicture2 {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
  border-radius: 100%;
  background-color: #33b6eb;
  opacity: 0.05;

}

.APicture2:hover {
  opacity: 0;
}

.BotonFoto_1 {
  position: absolute;
  width:60%;
  height:10%;
  left: 50%;
  margin-left: -30%;
  top: 80%;
  border-radius: 100px;
  background-color: black;
  border: none;
  color: white;
  outline: none;
  opacity: 0;
}

.BotonFoto_3 {
  font-family: "American typewriter";
  font-size: 12px;
  position: absolute;
  width:60%;
  height:10%;
  left: 50%;
  margin-left: -30%;
  top: 80%;
  border-radius: 100px;
  background-color: black;
  border: none;
  color: white;
  outline: none;
  opacity: 0.8;
}

.BotonFoto_3:hover {
  opacity: 1;
}

.BotonFoto_3:active {
  opacity: 1;
  background-color: #33b6eb;
}

txtbtn3 {
  position: absolute;
  top: 30%;
  left:30%;
}

.InfoUsuario {
  position: absolute;
  width: 350px;
  height: 40px;
  background-color: white;
  border: 1px solid #898989;


}

.InfoUsuario2 {
  position: absolute;
  top: 48%;
  width: 350px;
  height: 40px;
  margin-top:60px;
  background-color: white;
  border: 1px solid #898989;


}

.InfoUsuario3 {

  position: absolute;
  top: 58%;
  width: 350px;
  height: 40px;
  margin-top:120px;
  background-color: white;
  border: 1px solid #898989;

}

.InfoUsuario4 {
  position: absolute;
  width: 350px;
  height: 80px;
  margin-top:180px;
  background-color: white;
  border: 1px solid #898989;


}

.InfoTodos {
  position: absolute;
  left: 570px;
  top: 30%;
}

.todo {
  position: absolute;
  top:20%;
  width: 80%;
  left: 8%;
}

.PosInfo {
  position: relative;
  top:25%;
  font-family: "American typewriter";
  font-size: 15px;
}

.ImagenLogo2 {
  position: absolute;
  top:30%;
  left: 100px;
  width: auto;
  height: auto;
  max-width: 65%;
  max-height: 65%;
}

.TextoNosotros {
  position: absolute;
  width: 380px;
  height: 220px;
  text-align: justify;
  border: 1px solid #898989;
  top: 40%;
  left: 530px;
  background-color: white;
  border-radius: 20px;
}

TextoNosotrosM {
  position: absolute;
  margin:30px;
  margin-top: 45px;
  color:#33b6eb;
}

tituloNosotros {
  color: #a12f37;
}

.Mensajes {
  position: absolute;
  width: 400px;
  height: 300px;
  top: 240px;
  border: 1px solid #bcbcbc;
  overflow-y: auto;
  overflow-x: hidden;
  border-top: transparent;
  border-bottom: transparent;
}

.EnviarMsg {
  position: absolute;
  float: right;
  width:0px;
  height: 0px;
  top: 30px;
  right: -10px;
  border-left: 53px solid #33b6eb;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: transparent;
  outline-width: 0px;
}

.EscribirMsg {
  position: absolute;
  float: right;
  width: 260px;
  height: 50px;
  top: 30px;
  left: 65px;
  border: 1px solid #bcbcbc;
  border-radius: 10px;
  font-family: "American typewriter";
  font-size: 13px;
  text-indent: 10px;
  outline: none;
}

.FormularioMsg {
  position: absolute;
  width:400px;
  top: 520px;
}

.Mensajes-Ind {
  position:relative;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #bcbcbc;
  top:5%;
  right: 4%;
  padding: 2%;
  background-color: #33b6ea;
  text-align: left;
  width:fit-content;
  max-width: 140px;
  word-wrap: break-word;
  float:right;
  clear:both;
  border-radius: 15px;
}

.Mensajes-Ind1 {
  position:relative;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #bcbcbc;
  top:5%;
  left: 4%;
  padding: 2%;
  background-color: #b3585e;
  text-align: left;
  width:fit-content;
  max-width: 140px;
  word-wrap: break-word;
  float:left;
  clear: both;
  border-radius: 15px;
}

.lineaConver1 {
  position: absolute;
  width: 350px;
  height: 100px;
  background-color: white;
  border: 1px solid #bcbcbc;
  border-right: transparent;
  border-left: transparent;
  overflow-x: hidden;
}

.FotoContacto1 {
  position: relative;
  width: 90px;
  height: 90px;
  background-color: white;
  border-radius: 100%;
  border-right: transparent;
  border-left: transparent;
  left: 360px;
  margin-top: 8px;
  top:-2px;
}


.ConversacionSection {
  position:absolute;
  top: 0%;
  width: 100%;
  left: 11%;
}

.contactconver1 {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  left: 0%;
}

.AbiertasConver {
  position: absolute;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 470px;
  top: 240px;
  left: 70px;
  height: 320px;
  left: 450px;
}

NombreConct {
  position:absolute;
  top: 13%;
  left: 10%;
  font-family: "American typewriter";
  font-size: 20px;
}

horamsg {
  position:absolute;
  top: 13%;
  left: 80%;
  font-family: "American typewriter";
  font-size: 15px;
}

MsgContact {
  position:absolute;
  top: 48%;
  left: 30%;
  word-wrap: break-word;
  width: 200px;
  overflow-y: hidden;
  height: 35px;
  text-align: left;
}

.HoraenConver {
  position:relative;
  float:right;
  right: 30px;
  top:30px;
  font-family: "American typewriter";
  font-size: 10px;
  color: #bcbcbc;
}

.FechaenConver {
  position:relative;
  float:right;
  right: 0px;
  top:40px;
  font-family: "American typewriter";
  font-size: 10px;
  color: #bcbcbc;
}

.HoraenConver1 {
  position:relative;
  float:left;
  left: 30px;
  top:30px;
  font-family: "American typewriter";
  font-size: 10px;
  color: #bcbcbc;
}

.FechaenConver1 {
  position:relative;
  float:left;
  left: 0px;
  top:40px;
  font-family: "American typewriter";
  font-size: 10px;
  color: #bcbcbc;
}

.ContactosLista {
position:absolute;
width: 700px;
height:290px;
overflow-x: hidden;
left: 50%;
top: 48%;
margin-left: -350px;
overflow-y: scroll;
}

.FotoContacto2 {
  position: relative;
  width: 120px;
  height: 120px;
  background-color: white;
  border-radius: 100%;
  border-right: transparent;
  border-left: transparent;
  left: 50%;
  top: 50%;
  margin-top: -60px;
  margin-left: -60px;
}

.CuadroContacto {
  position: relative;
  background-color: white;
  border: 1px solid #bcbcbc;
  width: 100%;
  height: 140px;
  border-left: transparent;
  border-right: transparent;
  margin-top: -3px;
  top: 4px;
}

.Buscando {
  position:absolute;
  top: 38%;
  width: 700px;
  left: 50%;
  margin-left: -350px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #bcbcbc;
  outline-width: 0px;
  text-align: center;
  font-size: 16px;
  font-family: "American typewriter";
}

.NombreContacto {
  position: absolute;
  width: 200px;
  height: 120px;
  background-color: white;
  left: 10%;
  top: 50%;
  margin-top: -60px;
  margin-left: -60px;
  color: black;
  font-size: 18px;
  font-family: "American typewriter";
  word-wrap: break-word;
  overflow-x: hidden;
  overflow-y: hidden;
}

NomCont {
  position: relative;
  top: 35%;
  text-align: left;
  left: -8px;
}

.adicionarConct {
  position: absolute;
  top:52%;
  font-size: 150px;
  color: #898989;
  left: -480px;
  width: 120px;
  height: 200px;
  background-color: transparent;
  border: transparent;
  outline-width: 0px;
}

.adicionarConct:active {
  color: #a13138;
}

.ContieneTodoC {
  position:absolute;
  height: 800px;
  top: -10%;
  left: 45%;
}

.SolicitudesCuadro {
  position: absolute;
  width: 200px;
  height: 150px;
  top: 38%;
  left: 390px;
  background-color: white;
  border-radius: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.FotoContacto3 {
  position: relative;
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 100%;
  border-right: transparent;
  border-left: transparent;
  left: 50%;
  margin-left: -35px;
}

NombreSolicitudConct {
  position: absolute;
  top: 70%;
  left: 10%;
  width: 80%;
  color: #bcbcbc;
  font-family: "American typewriter";
  font-size: 12px;
}

.IndividualSolicitud {
  position: relative;
  width: 100%;
  height: 115px;
  margin-top: 34px;
}

NumSolicitudConct {
  position: absolute;
  top: 58%;
  left: 390px;
  width: 200px;
  font-family: "American typewriter";
  font-size: 14px;
  color: #bcbcbc;
}

.CancelarSolicitud {
  position:absolute;
  border: 1px solid #33b6eb;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  top: -15%;
  left: 75%;
  background-color: #33b6eb;
}

Eqxuis {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 12%;
  left: 1%;
  font-family: "American typewriter";
  font-size: 16px;
  color: white;
}

::-webkit-scrollbar {
  width: 1px;
  background-color: transparent;
}

.locationmsg {
  position: relative;
  float: right;
  top: 39px;
  left: -10px;
  font-size: 9px;
  font-family: "American typewriter";
  color: #898989;

}

.locationmsg1 {
  position: relative;
  float: left;
  top: 39px;
  left: 10px;
  font-size: 9px;
  font-family: "American typewriter";
  color: #898989;
}

.NosotrosSeccion {
  position: absolute;
  width: 100%;
  top: 0%;
  height: 100%;
  left: 8%;
}

.contactconverec {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  left: 0%;
  opacity: 0.06;
  background-color: #33b6eb;
}

.contactconverec:hover {
  opacity: 0.6;
  color: white;
  font-family: "American typewriter";
  font-size: 15px;
}

textoPLineaE {
  position: absolute;
  top: 40%;
  width: 100%;
  left: 0%;
}

.contactconverec2 {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  left: 0%;
  opacity: 0.2;
  color: white;
  font-family: "American typewriter";
  font-size: 15px;
  background-color: #a02e36;
}

.contactconverec2:hover {
  opacity: 0.6;
  color: white;
  font-family: "American typewriter";
  font-size: 15px;
}

.FileSendStl {
  position: absolute;
  left: 3px;
  width: 50px;
  border-radius: 100%;
  top: 31px;
  background-color: #33b6eb;
  height: 50px;
}


.FileSendStl:hover{
  background-color: #4dc6f7;
}

.EnviarMsg:hover {
  border-left: 53px solid #4dc6f7;
}

.EnviarMsg:active {
  border-left: 53px solid #a02e36;
}



.FileSendStl:active{
  background-color: #a02e36;
}


.FileSendStlT {
  position: absolute;
  top: 50px;
  left: 50px;
  color: transparent;
  opacity: 0;
}

.msgFoto {
  position: relative;
  width: 140px;
  border-radius: 10px;
}

.PosInfoN {
  position: relative;
  top:25%;
  font-family: "American typewriter";
  font-size: 15px;
  text-align: center;
  width: 80%;
  border: 0px solid black;
  outline-width: 0px;
}

.PosInfoE {
  position: relative;
  top: 6%;
  font-family: "American typewriter";
  font-size: 15px;
  text-align: center;
  width: 80%;
  height: 80%;
  overflow-x: hidden;
  overflow-y: scroll;
  word-wrap: break-word;
  border: 0px solid black;
  outline-width: 0px;
}

.GuardarCambios {
  position:absolute;
  top: 280px;
  width: 350px;
  height: 30px;
  background-color: #33b6eb;
  border: 1px solid #e5e5e5;
  border-radius: 0px;
  outline-width: 0px;
  color: white;
  font-family: "American typewriter";
  font-size: 14px;
}

.GuardarCambios:hover {
  background-color: #a02e36;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.EstadoConct {
  position: relative;
  font-family: "American typewriter";
  font-size: 15px;
  text-align: center;
  width: 30%;
  height: 40%;
  top: 50%;
  margin-top: -11%;
  overflow-x: hidden;
  overflow-y: scroll;
  word-wrap: break-word;
  border: 0px solid black;
  left: 67%;
  color: #33b6eb;
}

.NumeroConct {
  position: relative;
  font-family: "American typewriter";
  font-size: 10px;
  text-align: center;
  width: 15%;
  height: 40%;
  top: 50%;
  margin-top: -5%;
  overflow-x: hidden;
  overflow-y: scroll;
  word-wrap: break-word;
  border: 0px solid black;
  left: 12%;
  color: #a02e36;
  text-align: left;
}

.CreditosSantiago {
  position: absolute;
  width: 100%;
  top: 95%;
  font-size: 12px;
  color: #d0cece;

}
