{% extends 'BaseH.html' %}
{% block html %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'csss/Home.css' %}">
{% endblock %}
{% block head %}
<title>Contactos</title>
{% endblock %}
{% block body %}
<script src="{% static 'jss/Home.js' %}"></script>
<div class="ContieneTodoC">
<form method="post">
  {% csrf_token %}
<input type="text" name="Busqueda" class="Buscando" value="" placeholder="Buscar un Amigo">
</form>
<form method="post">
  {% csrf_token %}
  {% for n in PlaceHolder %}
  <input type="text" name="Solicitud" class="Buscando" value="" placeholder="Buscar un Contacto Nuevo">
  {% endfor %}
</form>
<form method="post">
  {% csrf_token %}
  <input type="submit" name="sumarsubmit" class="adicionarConct" value="+">
</form>
<div class="ContactosLista">
{% load static %}
{% for elemnt in DatosContactsConver %}
<a href="{{elemnt.contactoMsg}}" onclick="{{elemnt.tipomensaje}}"><div class="CuadroContacto">
  <div class="NombreContacto">
    <NomCont>{{elemnt.contacto}}</NomCont>
  </div>
<div class="FotoContacto2">
  <img src="{% static elemnt.image %}" class="contactconver1">
</div>
<div class="EstadoConct">{{elemnt.estado}}</div>
<div class="NumeroConct">{{elemnt.numero}}</div>
</div></a>

{% endfor %}
</div>
<div class="SolicitudesCuadro" style="border: 1px solid {{ColorSol}};">
{% for sol in Solicitudes %}
<div class="IndividualSolicitud">
<a href="/home/entry/DDeny/{{NUsuario}}/{{sol.solicitud}}"><div class="CancelarSolicitud"><Eqxuis>x</Eqxuis></div></a>
<div class="FotoContacto3">
<a href="/home/entry/AAccpt/{{NUsuario}}/{{sol.solicitud}}"><img src="{% static sol.imagen %}" class="contactconver1"></a><br>
</div>
<NombreSolicitudConct>{{sol.solicitud}}</NombreSolicitudConct>
</div>
{% endfor %}
</div>
<NumSolicitudConct>{{CantidadSolicitudes}}<br>Solicitudes</NumSolicitudConct>
</div>
{% endblock %}
