{% extends 'BaseH.html' %}
{% block html %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'csss/Home.css' %}">
{% endblock %}
{% block head %}
<title>Conversaciones</title>
{% endblock %}
{% block body %}
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="{% static 'jss/Home.js' %}"></script>

<script type="text/javascript">

    $(document).ready(function () {
        {{ArchivoAlerta}}'{{mensajealerta}}'{{ArchivoAlerta2}}
    });

</script>

{% load static %}
<div class="ConversacionSection">
<div class="Mensajes">
{% for item in Msgs %}
  {% if item.prop != "" %}
  <div class="Mensajes-Ind">{{item.prop}} <img src="{% static item.immsg %}" class="msgFoto"></div>
  <div class="HoraenConver">{{item.tmsg}}</div>
  <div class="FechaenConver">{{item.dmsg}}</div>
  <div class="locationmsg">{{item.loc}}</div>
  {% else %}
  {% if item.conct != "" %}
  <div class="Mensajes-Ind1">{{item.conct}} <img src="{% static item.immsg %}" class="msgFoto"></div>
  <div class="HoraenConver1">{{item.tmsg}}</div>
  <div class="FechaenConver1">{{item.dmsg}}</div>
  <div class="locationmsg1">{{item.loc}}</div>
  {% endif %}
  {% endif %}
{% endfor %}
</div>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="FormularioMsg">
  <input type="file" name="filein" id="filein" value="" class="FileSendStlT" onchange="form.submit()" accept="image/jpeg,image/gif,image/x-png">
  <input type="text" class="EscribirMsg" name="Msg">
  <label for="filein" class="FileSendStl"></label>
  <input type="submit" class="EnviarMsg" name="" value="">
</div>
</form>
<div class="AbiertasConver">
{% load static %}
{% for elemnt in DatosContactsConver %}
<a href="/home/entry/{{NUsuario}}/Conversaciones/{{elemnt.contacto}}"><div class="lineaConver1" style="background-color: {{elemnt.chatActivo}}">
  <NombreConct>{{elemnt.contacto}}</NombreConct> <horamsg>{{elemnt.hora}}</horamsg> <MsgContact>{{elemnt.msg}}</MsgContact>
</div></a>
<div class="FotoContacto1">
  <img src="{% static elemnt.image %}" class="contactconver1">
  <div class="{{elemnt.estadoT}}"><textoPLineaE>{{elemnt.state}}</textoPLineaE></div>
</div>
{% endfor %}
</div>
</div>

{% endblock %}
