{% extends 'BaseH.html' %}
{% block html %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'csss/Home.css' %}">
{% endblock %}
{% block head %}
<title>Cuenta</title>
{% endblock %}
{% block body %}
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="{% static 'jss/Home.js' %}"></script>

<script type="text/javascript">

    $(document).ready(function () {
        {{ArchivoAlerta}}'{{mensajealerta}}'{{ArchivoAlerta2}}
    });

</script>

<div class="todo">
<div class="ls">
<div class="ProfilePicture">
  {% load static %}
  <img src="{% static ProfilePict %}" class="APicture">
  <div class="APicture2"></div>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" accept="image/jpeg,image/gif,image/x-png" name="Pic_File" value="Escoger Foto" id="Pic_File" class="BotonFoto_1" onchange="form.submit()">
    <label for="Pic_File" class="BotonFoto_3"><txtbtn3>Cambiar Imagen</txtbtn3></label>
</div>
</div>
<div class="InfoTodos">
<div class="InfoUsuario"><div class="PosInfo">{{NUsuario}}</div></div>
<div class="InfoUsuario2"><div class="PosInfo">{{NEmail}}</div></div>
<div class="InfoUsuario3"><input type="number" name="numero" value="" class="PosInfoN" PlaceHolder="{{Numero}}"></div>
<div class="InfoUsuario4"><textarea name="estado" class="PosInfoE" PlaceHolder="{{Estado}}"></textarea></div>
<input type="submit" id="GuardarCambios" name="" value="Guardar Cambios" class="GuardarCambios">
</form>
</div>
</div>
{% endblock %}
