{% extends 'BaseH.html' %}
{% block html %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'csss/Home.css' %}">
{% endblock %}
{% block head %}
<title>Nosotros</title>
{% endblock %}
{% block body %}
  {% load static %}
  <div class="NosotrosSeccion">
  <img src="{% static 'images/DouveLogoOn.png' %}" class="ImagenLogo2">
  <div class="TextoNosotros"><TextoNosotrosM>
      <tituloNosotros>Douve</tituloNosotros> es una aplicación IM la cual tiene lo que cualquier app de mensajería necesita.
      y a diferencia de otras apps, su propósito principal es permitir a sus usuarios guardar
      de manera libre y ordenada. Espero que disfrutes y obtengas lo mejor del producto, estoy
      seguro que amaras todas sus características.</TextoNosotrosM>
  </div>
  </div>
{% endblock %}
