body {
  text-align: center;
  font-family: verdana;
}

.Formulario {
  position: absolute;
  width: 500px;
  height: 300px;
  left: 50%;
  margin-left:-250px;
  margin-top:-150px;
  top:40%;
}

nps {
}

.Inputs {
  position: relative;
  width: 350px;
  height: 50px;
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
  outline-width: 2px;
  outline-color: #a02e36;
  font-family: "American typewriter";
}

.InputUs {
  position: relative;
  width: 350px;
  height: 50px;
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
  outline-width: 2px;
  outline-color: #a02e36;
  font-family: "American typewriter";
  text-transform: capitalize;
}

.Fform {
  position: absolute;
  left:50%;
  top: 75%;
  margin-top: -20%;
  margin-left: -35.5%;
}

.Buttons {
  position: relative;
  width: 350px;
  height: 50px;
  color: #595959;
  background-color: #e5e5e5;
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 15px;
  outline-width: 0px;
  border-radius: 2px;
  box-shadow: 0px;
  border-radius: 5px;
}

.Buttons:active{
  background-color: #9d9d9d;
}

.Images {
  width: auto;
  height: auto;
  max-width: 250px;
  max-height: 250px;
}

::-webkit-input-placeholder {
  color: #d6d6d6;
}

::-moz-placeholder {
  color: #d6d6d6;
}

.msg1 {
  font-family: "American typewriter";
  font-size: 13px;
  position: absolute;
  color: #a02e36;
  width: 250px;
  left: 68%;
  top: 40.5%;
  text-align: left;
}

.msg2 {
  font-family: "American typewriter";
  font-size: 13px;
  position: absolute;
  color: #a02e36;
  width: 250px;
  left: 68%;
  top: 52%;
  text-align: left;
}

.CreditosSantiago {
  position: absolute;
  width: 100%;
  top: 93%;
  font-size: 12px;
  color: #d0cece;

}
