<!DOCTYPE html>
<html>
{% block html %}
{% endblock %}
  <head>
    {% load static %}
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/png" >
    {% block head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {% endblock %}
    <div class="CreditosSantiago">Copyright © 2017 Santiago Melo Medina</div>
  </body>
</html>
