{% extends 'Base.html' %}
{% block html %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'csss/Login.css' %}">
{% endblock %}
{% block head %}
<title>Sesión</title>
{% endblock %}
{% block body %}
<div class="Formulario">
  {% load static %}
  <img src="{% static 'images/DouveLogo.png' %}" class="Images"><br>
  <div class="Fform" id="FormLogin">
  <form method="post">
    {% csrf_token %}
    <nps><input type="text" name="user" class="InputUs" value="" placeholder="Usuario"><br></nps>
    <nps><input type="password" name="password" class="Inputs" value="" placeholder="Contraseña"><br><br></nps>
    <input type="submit" class="Buttons" name="Enter" value="Entrar"></input>
  </form>
  <a href="/register"><input type="button" class="Buttons" name="Create_Account" value="Crear Cuenta"></input></a>
  </div>
    </div>
    <div class="msg1">{{ Msg1 }}</div>
    <div class="msg2">{{ Msg2 }}</div>
{% endblock %}
