<!DOCTYPE html>
<html>
{% block html %}
{% endblock %}
  <head>
    {% load static %}
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/png" >
    {% block head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {% endblock %}
    {% load static %}
    <img src="{% static 'images/DouveLogo.png' %}" class="ImagenLogo">
    <div class="ls">
    <div class="Lineas"></div><br>
    <div class="Lineas1"></div><br>
    <div class="Lineas2"></div><br>
    <a href="/home/entry/Cuenta/{{NUsuario}}/0000"><div class="Cuenta1" style="background-color:{{ ColorCuenta }};"><txtc2>Cuenta<br>{{NUsuario}}</txtc2></div></a>
    <a href="/home/entry/{{NUsuario}}/Contactos"><div class="Cuenta2" style="background-color:{{ ColorContactos }};"><txtc>Contactos</txtc></div></a>
    <a href="/home/entry/{{NUsuario}}/Conversaciones/{{NUsuario}}"><div class="Cuenta3" style="background-color:{{ ColorConversaciones }};"><txtc>Conversaciones</txtc></div></a>
    <a href="/home/entry/{{NUsuario}}/Nosotros"><div class="Cuenta4" style="background-color:{{ ColorNosotros }};"><txtc>Nosotros</txtc></div></a>
    </div>
    <a href="/home/salir/"><div class="Cerrar_Sesion"><fcsesion>Cerrar Sesion</fcsesion></div></a>
    <div class="CreditosSantiago">Copyright © 2017 Santiago Melo Medina</div>
  </body>
</html>
